.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: auto;
    row-gap: 8px;
    column-gap: 12px;
    margin: 64px auto 14px;
    max-width: 288px;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}
@media screen and (min-width:768px) {
    .photo-grid {
        row-gap: 12px;
        column-gap: 16px;
        margin: 88px auto 15px;
        max-width: 720px;
    }
    
}
@media screen and (min-width:1024px) {
    .photo-grid{
        max-width: 928px;
        margin: 92px auto 10px;
}
}
@media screen and (min-width:1280px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        max-width: 1184px;
}
}
