.places-grid {
    display: grid;
    margin: 64px auto 0;
    width: 100%;
    max-width: 984px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}
@media screen and (min-width: 768px) {
    .places-grid {
        grid-template-columns: 340px 352px;
        max-width: 720px;
        margin: 88px auto 0;
        row-gap:  48px;
        column-gap: 30px;
        justify-content: end;
    }
  }
  @media screen and (min-width: 1024px) {
    .places-grid {
        grid-template-columns: 440px 456px;
        max-width: 928px;
        margin: 90px auto 0px;
        row-gap: 48px;
        column-gap: 32px;
    }
  }
  @media screen and (min-width: 1280px) {
    .places-grid {
        grid-template-columns: 460px 484px;
        max-width: 984px;
        column-gap: 40px;
    }
  }
