.intro {
    display: flex;
    width: calc(100vw - 32px);
    flex-direction: column;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .intro {
        max-width: 720px;
    }
}
@media screen and (min-width:1024px) {
    .intro {
        max-width: 690px;
        align-self: flex-start;
        margin: 0 0 0 48px;
    }
}
@media screen and (min-width:1280px) {
    .intro {
        margin: 0 0 0 148px;
    }
}