.cover {
    display: flex;
    position: relative;
    justify-content: center;
    width:100%;
    margin: 0 auto;
    max-width: 320px;
    min-height: auto;
    color: #FFFFFF;
    margin-top: 66px;
}
@media screen and (min-width: 768px) {
    .cover {
      max-width: 768px;
      min-height: 480px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .cover {
      margin-top: 60px;
      max-width: 1024px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .cover {
      max-width: 1184px;
    }
  }