.lead__caption {
    margin:0;
    padding-left: 16px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 174px;
}
@media screen and (min-width: 768px) {
    .lead__caption {
        padding-top: 6px;
        padding-left: 24px;
    }
}
@media screen and (min-width: 1024px) {
    .lead__caption {
        padding: 6px 0 0 0;
    }
}