.cover__title {
    text-align: center;
    font-weight: 900;
    max-width: 288px;
    margin: 0 auto;
    z-index: 20;
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .cover__title {
        max-width: 560px;
        margin-bottom: 32px;
        font-size: 72px;
        line-height: 76px;
}
}