.intro__title {
    width: 100%;
    margin: 64px 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    white-space: pre-line;
}
@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
        margin: 88px 0 0;
        white-space: normal;
    }
}
@media screen and (min-width: 1024px) {
    .intro__title {
        margin: 92px 0 0;
    }
}